<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Aplicación{% endblock %}</title>
</head>
<body>
    <header>
        <h1>{% block header %}Encabezado de la Aplicación{% endblock %}</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('inicio') }}">Inicio</a></li>
            <li><a href="{{ url_for('lista_clientes') }}">Lista de Clientes</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>{% block footer %}Pie de Página de la Aplicación{% endblock %}</p>
    </footer>
</body>
</html>